<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/mem/TITANLOGO.ico" type="image/x-icon" />
    <title>巨神健身 | 機器人</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/a80a57b001.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./js/backgroundManager.js"></script>
</head>

<body>


   <div class="row" style="margin: 0px;">
        <nav class="col-md-2  d-md-block  bg-light" style="padding-right:0px;">
            <div class="sidebar-sticky ml-3">

                <img src="./img/logo-01.png" style="width: 100px;">
                <ul class="nav flex-column mb-2 ">
                    <li class="nav-item h5">
                        <a href="backgroundDashboard.html">會員</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2 ">
                    <li class="nav-item h5">
                        <a href="backgrundShopping.html">商城商品</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundOrder.html">訂單</a>
                    </li>
                </ul>



                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundActivity.html">活動(審核/上架)</a>
                    </li>
                </ul>


                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundReport.html">活動區(檢舉)</a>
                    </li>
                </ul>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="">機器人 Q&A</a>
                    </li>
                </ul>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundEquipment.html">運動器材</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundMachine.html">設施資訊</a>
                    </li>
                </ul>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundManager.html">管理員</a>
                    </li>
                </ul>

                  <ul class="nav flex-column mb-2 mt-4">
                      <li class="nav-item h5" id="h5out" style=" cursor: pointer;">
                          登出
                      </li>
                  </ul>


            </div>
        </nav>

        <div class="col-md-10">

            <h1 class="h3  mt-3">機器人Q&A</h1>
            <h3 class="h3  mt-3">新增問答</h3>
            <div class="row">
                <div class="ml-3">
                    <h4>問答編號</h4>
                    <input type="number">
                </div>
                <div class="ml-3">
                    <h4>關鍵字內容</h4>
                    <input type="number">
                </div>
                <div class="ml-3">
                    <h4>關鍵字對應回答</h4>
                    <input type="number" style="width: 400px;">
                </div>
                <button style="width: 50px;" class="ml-3 ">新增</button>
            </div>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th class="text-center  h5">問答編號</th>
                        <th class="text-center  h5">關鍵字內容</th>
                        <th class="text-center  h5">關鍵字對應回答</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, key) in orders" :key="key">
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>




</body>

</html>
