<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/mem/TITANLOGO.ico" type="image/x-icon" />
    <title>巨神健身|訂單明細</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a80a57b001.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

</head>

<body>


    <div id="app" class="row" style="margin: 0px;">
       <nav class="col-md-2  d-md-block  bg-light" style="padding-right:0px;">
            <div class="sidebar-sticky ml-3">

                <img src="./img/logo-01.png" style="width: 100px;">
                <ul class="nav flex-column mb-2 " style="margin-top: 50px;">
                    <li class="nav-item h5">
                        <a href="backgroundDashboard.html">會員</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2 ">
                    <li class="nav-item h5">
                        <a href="backgrundShopping.html">商城商品</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundOrder.html" style="color: rgb(255, 108, 108);">訂單</a>
                    </li>
                </ul>


                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <div data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample" style="cursor: pointer;color:#4b95a2;">活動區
                        </div>
                        <div class="collapse" id="collapseExample">
                            <a class="mb-2" style="display: block;" href="backgroundActivity.html">活動資料(審核/上架)</a>
                            <a class="mb-2" style="display: block;" href="backgroundActivity-2.html">參賽資料(審核/取消資格)</a>
                            <a class="mb-2" style="display: block;" href="backgroundReport.html">留言板(檢舉)</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundEquipment.html">運動器材</a>
                    </li>
                </ul>


                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundManager.html">管理員</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2 mt-4">
                    <li class="nav-item h5" id="h5out" style=" cursor: pointer;">
                        登出
                    </li>
                </ul>


            </div>
        </nav>

        <div class="col-md-10">

            <h1 class="h3 ml-3 mt-3">訂單明細</h1>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th class="text-center  h5">訂單編號</th>
                        <th class="text-center  h5">會員編號</th>
                        <th class="text-center  h5">訂單建立日期</th>
                        <th class="text-center  h5">訂單總金額</th>
                        <th class="text-center  h5">產品數量</th>
                        <th class="text-center  h5">訂單狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in orders">
                        <td class="text-center">{{item.id}}</td>
                        <td class="text-center">{{1}}</td>
                        <td class="text-center">{{item.create_at }}</td>
                        <td class="text-center">{{item.total}}</td>
                        <th class="text-center  h5">{{item.num}}</th>
                        <th class="text-center  h5">{{item.is_paid}}</th>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>


    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                orders: [],
            },
            methods: {
                getOrders() {
                    const vm = this;
                    axios({
                            method: 'get',
                            url: 'https://vue-course-api.hexschool.io/api/jim80323/admin/orders',
                            withCredentials: true
                        })
                        .then((resp) => {
                            vm.orders = resp.data.orders;
                            vm.orders.forEach(function (item) {
                                let dateTime = new Date(item.create_at).getTime();

                                // let timestamp = Math.floor(dateTime / 1000);
                                let date = new Date(dateTime * 1000);
                                let dateValue = [
                                    date.getFullYear(),
                                    date.getMonth() + 1,
                                    date.getDate(),
                                ]
                                item.create_at = dateValue;
                                vm.orders.create_at = date;
                            })

                        });
                },
            },
            created() {
                this.getOrders();
            }
        })
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script>
        $("#h5out").click(function () {
            $.ajax({
                type: 'GET',
                url: 'php/adminlogout.php?',
                dataType: 'text', //接收到的資料型態
                crossDomain: true,
                success: function (data) {
                    Swal.fire({
                    title: data,
                    showConfirmButton: false,
                    background: '#fff url("./img/p0080_m.jpg") center'
                    })
                    setTimeout(function () {
                    window.location.replace("index.html");
                    }, 1000)
                  
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status)
                    alert(thrownError)
                    alert(ajaxOptions)
                }
            })

        })
    </script>

</body>

</html>
