$letter-spacing: 2px;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap&subset=chinese-traditional');

* {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: $letter-spacing;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
