@mixin clickBtn {
  font-size: 19px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  border: 5px solid #f46f65;
  color: #7a5350;
  padding: 5px;
  transition: 0.5s;

  &:hover {
    background-color: #f46f65;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
    color: white;
  }

  @content;
}

// 第一頻scss
.act_container {
  // 預防margin-top
  border: 1px solid transparent;
  background: url('../img/act/act_backgroundImg.png') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #978585;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 8px #b9b6e5;
  }

  .act_wrap {
    display: flex;
    position: relative;

    .act_poseRef {
      // border: 1px solid #fff;
      width: 21%;
      transform: translateY(100px);

      img {
        user-select: none;
        -webkit-user-drag: none;
        width: 100%;
      }
    }

    .act_middlePart {
      width: 54%;
      position: relative;
      user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      // border: 1px solid #fff;

      .act_poseRefbelow1400px {
        display: none;
        width: 250px;
        position: fixed;
        left: -250px;
        top: 270px;
        z-index: 50;
        transition: left 0.5s;

        img {
          user-select: none;
          -webkit-user-drag: none;
          width: 100%;
        }

        .showAct_poseRefBtn {
          @include clickBtn();
          user-select: none;
          -webkit-user-drag: none;
          position: absolute;
          top: 0px;
          right: -48px;
          border: 4px solid #dc6247;
          writing-mode: vertical-lr;
        }
      }

      .act_actText {
        user-select: none;
        -webkit-user-drag: none;
        position: relative;
        color: #c4cfde;
        padding-left: 100px;
        cursor: default;

        > div:nth-child(1) {
          margin-top: 30px;
          font-size: 32px;

          span:nth-child(2) {
            font-size: 18.72px;
          }
        }

        > div:nth-child(2) {
          margin-top: 10px;
          font-size: 18.72px;
        }

        .act_moreActBtnbelow1400px {
          position: absolute;
          right: -50px;
          top: -30px;
          width: 250px;
          display: none;
          user-select: none;
          -webkit-user-drag: none;

          > img {
            cursor: pointer;
            width: 100%;
          }

          > div {
            transform: translate(90px, -32px);
            font-size: 18.72px;
          }
        }
      }

      .act_carousel {
        cursor: default;
        position: relative;

        > div:nth-child(1) {
          // 票數
          // border: 1px solid #c8ba7b;
          color: #dc6247;
          text-align: center;
          font-size: 32px;
          // margin-bottom: 20px;

          span {
            margin-right: 10px;
          }
        }

        .act_voteBtn {
          @include clickBtn();
          width: 150px;
          margin: 0 auto;
        }

        .act_carousel_All {
          // z-index: 180;
          position: absolute;
          width: 100%;
          padding-bottom: 45%;
          perspective-origin: center top;
          perspective: 2000px;

          .act_competitor {
            background-size: cover;
            background-repeat: no-repeat;
            // background-position: center;
            position: absolute;
            left: -20px;
            top: 50px;
            width: 250px;
            height: 360px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
            transform-origin: center;
            transition: all 0.5s ease-in-out;

            &.activeHover:hover::after {
              content: '觀看其他留言';
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 18.72px;
              color: #c4cfde;
              text-shadow: 0px 0px 5px #000;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.2);
            }

            &.active::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background: rgba(0, 0, 0, 0.5);
              cursor: default;
              z-index: 3;
              pointer-events: none;
            }

            .outerSpan {
              position: absolute;
              left: 0px;
              bottom: 0px;
              width: 100%;
              height: 30px;
              text-align: center;
              line-height: 30px;
              background: #252d3a;
              // border: 1px solid black;
              z-index: 10;
              overflow: hidden;
              font-size: 18.72px;
              color: #c4cfde;

              span {
                display: block;
                transform: translateY(30px);
                animation: slide 6s linear infinite;
              }

              @keyframes slide {
                10% {
                  transform: translateY(-0px);
                }

                20% {
                  transform: translateY(-0px);
                }

                40% {
                  transform: translateY(-30px);
                }

                50% {
                  transform: translateY(-30px);
                }

                70% {
                  transform: translateY(-60px);
                }

                85% {
                  transform: translateY(-60px);
                }

                100% {
                  transform: translateY(-80px);
                }
              }
            }
          }

          .arrow {
            position: absolute;
            z-index: 25;
            cursor: pointer;

            &:nth-child(1) {
              left: -30px;
              top: 50%;
            }

            &:nth-child(2) {
              right: -30px;
              top: 52.5%;
            }
          }

          // act_carousel_All
        }

        // act_carousel
      }

      // 中間輪播圖的部分
    }

    .act_otherAct {
      // border: 1px solid #fff;
      width: 24%;
      cursor: default;

      .act_awardCup {
        position: relative;

        .act_moreActBtn {
          // border: 1px solid #fff;
          position: absolute;
          width: 300px;
          user-select: none;
          -webkit-user-drag: none;

          img {
            width: 100%;
            position: absolute;
            left: 30px;
            top: 72px;
            cursor: pointer;
            filter: blur(1px);
            user-select: none;
            -webkit-user-drag: none;
          }

          div {
            color: #fff;
            font-size: 24px;
            position: absolute;
            left: 140px;
            top: 230px;
            user-select: none;
            -webkit-user-drag: none;
          }
        }
      }

      // act_otherAct
    }

    // act_wrap
  }

  // 768px 以下才出現的按鈕 (螢幕右下角)

  .act_plusBtnbelow768px {
    position: fixed;
    z-index: 150;
    right: 20px;
    bottom: 20px;
    width: 120px;
    height: 120px;
    filter: url('#shadowed-goo');
    display: none;

    .wobble {
      width: 50px;
      height: 50px;
      margin-left: -25px;
      margin-top: -25px;
      position: absolute;
      bottom: 0px;
      left: 80%;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0, 0.42, 0.42, 1);
      z-index: 160;

      /* Wobble effect */

      &.ripple:nth-child(1) {
        animation: wobble-1 1s ease-in-out;
        background-color: #dc6247;
      }

      &.ripple:nth-child(2) {
        animation: wobble-2 1s linear;
        background-color: #dc6247;
      }

      /* First blob */

      @keyframes wobble-1 {
        10% {
          transform: translate(0px, 2px) scale(1.1);
        }

        40% {
          transform: translate(2px, -2px) scale(1.1);
        }

        100% {
          transform: translate(0px, 0px) scale(1);
        }
      }

      /* Second blob */

      @keyframes wobble-2 {
        20% {
          transform: translate(-3px, 3px) scale(1.08);
        }

        100% {
          transform: translate(0px, 0px) scale(1);
        }
      }
      // wobble
    }

    .burgerList {
      width: 54px;
      height: 54px;
      margin-left: -27px;
      margin-top: -27px;
      overflow: hidden;
      z-index: 160;
      position: absolute;
      bottom: -1px;
      left: 80%;
      text-align: center;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0, 0.42, 0.42, 1);

      &.bgColorToggle {
        background-color: #dc6247;
      }

      .hamburgers {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: #000;
        margin-left: -2px;
        margin-top: -1px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: transform 200ms;
      }

      .hamburger-1 {
        transform: translate3d(-8px, 0, 0);

        /* Hamburger icon & Animation */
        &.cross-right {
          transform: translate3d(-10px, 0, 0) rotate(-45deg);
          width: 25px;
          height: 3px;
          background: #fff;
        }
      }

      .hamburger-2 {
        transform: translate3d(0, 0, 0);

        &.cross-hide {
          transform: translate3d(0, 0, 0) scale(0.1, 1);
          background: #fff;
        }
      }

      .hamburger-3 {
        transform: translate3d(8px, 0, 0);

        &.cross-left {
          transform: translate3d(-10px, 0, 0) rotate(45deg);
          width: 25px;
          height: 3px;
          background: #fff;
        }
      }

      // toggle
    }

    .threeCircle {
      z-index: 160;

      .nav-item {
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
        position: absolute;
        bottom: 0px;
        left: 80%;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0, 0.42, 0.42, 1);

        &:hover {
          background-color: #dc6247;
        }

        i.fas {
          line-height: 2;
          font-size: 22px;
          color: #000;
          transform: translate(2.5px, 4px);
        }

        &:hover i {
          transition: all 0.3s ease-out;
          transform: translate(2.5px, 4px) rotate(360deg);
          color: #fff;
        }

        /* Slide-out */
        &.slide-out:nth-child(1) {
          transform: translate(-55px, -60px);
        }

        &.slide-out:nth-child(2) {
          transform: translate(10px, -85px);
        }

        &.slide-out:nth-child(3) {
          transform: translate(-80px, 10px);
        }

        // nav-item
      }

      // nav
    }

    // blob-nav
  }

  // 遮罩
  .act_mask {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0px;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: none;
  }
  #act_ActivityContainer {
    position: fixed;
    width: 70%;
    height: 85vh;
    overflow: hidden;
    left: 15%;
    bottom: 50px;
    z-index: 200;
    background: #424b58c7;
    border-radius: 5px;
    transform-origin: center;
    cursor: default;
    box-shadow: 0px 0px 5px #fff;
    transition: all 0.5s;
    display: none;

    .closeBtn {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 81;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 0px 10px #747070;
      cursor: pointer;
      user-select: none;
      -webkit-user-drag: none;
      // border: 1px solid black;

      &::before {
        content: '';
        position: absolute;
        border: 1.5px solid #868686;
        width: 34px;
        left: 8px;
        top: 7px;
        transform-origin: left;
        transform: rotate(45deg);
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        border: 1.5px solid #868686;
        width: 34px;
        left: 8px;
        bottom: 5px;
        border-radius: 2px;
        transform-origin: left;
        transform: rotate(-45deg);
        z-index: 2;
      }

      // closeBtn
    }

    .act_ActivityContainerTopBar {
      // border: 1px solid #fff;
      position: relative;
      color: #4b95a2;
      font-size: 24px;
      padding: 10px 30px;
      // 跟上面一樣圓角
      border-radius: 5px 5px 0px 0px;
      // display: none;
      user-select: none;
      -webkit-user-drag: none;

      > span:nth-child(1) {
        position: relative;
        font-size: 40px;
        background: #424b58;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          // css 用來取html data屬性的資料
          content: attr(data-text);
          text-shadow: -0px 0px 1px #c4cfde, -0.5px 0.5px 1.5px #c4cfde;
        }
      }

      > .switchBtn {
        // border: 1px solid #000;
        @include clickBtn();
        padding: 8px 15px;
        position: absolute;
        top: 10px;
        right: 80px;
      }

      svg.arrowSVG {
        // border: 1px solid #fff;
        position: absolute;
        right: 250px;
        top: 0;
        width: 80px;
        height: 80px;
        transform: rotateZ(45deg) rotateX(180deg);

        .draw-arrow,
        .tail-1,
        .tail-2 {
          stroke-width: 5;
          stroke: #f46f65;
          fill: none;
          stroke-dasharray: 400;
          // stroke-dashoffset: 400;
        }
      }

      // act_ActivityContainerTopBar
    }

    @media screen and (max-width: 1050px) {
      svg.arrowSVG {
        display: none;
      }
    }

    // 更多活動
    .act_moreActivity {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 100px;
      // display: none;
      user-select: none;

      .act_allActWrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow-y: scroll;
        // 80vh 扣掉 topBar 的高度
        height: calc(80vh - 56px);
        padding: 50px 0px;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 15px #978585;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 8px #b9b6e5;
        }

        .act_eachAct {
          position: relative;
          margin: 20px 10px;
          width: 300px;
          height: 400px;
          font-size: 18.72px;

          &.upon768px {
            transform-style: preserve-3d;
            transform: perspective(2000px);
            transition: 1s transform,
              1s box-shadow cubic-bezier(0.57, 1.43, 0.66, 0.15);
            background: #fff;
            box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
          }

          &.upon768px:hover {
            z-index: 10;
            transform: perspective(2000px) rotate(-10deg);
            box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
          }

          .imgBox {
            position: relative;
            width: 99%;
            height: 99%;

            &.upon768px {
              transform-origin: left;
              z-index: 1;
              transition: 1s;
            }

            img {
              position: absolute;
              top: 0.5%;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              -webkit-user-drag: none;
            }
          }

          &.upon768px:hover .imgBox {
            transform: rotateY(-135deg);
            transition-timing-function: cubic-bezier(0.57, 1.43, 0.66, 0.15);
          }

          .act_details {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
            padding: 20px;
            color: #3c3021;
            box-shadow: inset 0px 0px 5px #333;
            border: 3px solid #333;
            border-right: 2px solid #333;
            border-left: none;

            &.below768px {
              background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
                radial-gradient(
                  at top left,
                  rgba(255, 255, 255, 0.3) 0%,
                  rgba(0, 0, 0, 0.3) 100%
                );
              background-blend-mode: screen;
            }

            .act_competitionTitle {
              font-size: 24px;

              span {
                font-size: 18.72px;
              }
            }

            .act_competitionContent {
              margin-top: 30px;
            }

            > .act_application {
              position: relative;
              margin-top: 30px;
              font-size: 24px;

              .act_No_application {
                font-size: 18.72px;
                color: #dc6247;
              }

              span:nth-child(3) {
                @include clickBtn();
                position: absolute;
                right: 0;
                top: 0;
              }
            }
          }
        }

        // act_allActWrap
      }

      // act_moreActivity
    }

    @media screen and (max-width: 1388px) {
      .act_moreActivity {
        .act_allActWrap {
          justify-content: space-around;
        }
      }
    }

    // 發起活動
    .act_establishActivity {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 100px;
      display: none;

      // 表單
      .act_establishActWrap {
        // border: 1px solid #fff;
        position: position;
        top: 0;
        display: flex;
        justify-content: space-around;
        padding-top: 15px;

        overflow-y: auto;
        height: calc(65vh - 56px);

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 15px #978585;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 8px #b9b6e5;
        }

        .act_upLoadPic {
          // border: 1px solid #fff;
          div:nth-child(1) {
            font-size: 18.72px;
            color: #4b95a2;
          }

          .act_showPic {
            width: 350px;
            height: 490px;
            background: #fff;

            img {
              display: block;
              width: 100%;
              object-fit: cover;
              -webkit-user-drag: none;
            }
          }

          .act_uploadActRefImg {
            @include clickBtn();
            display: inline-block;
            padding: 5px 10px;
            margin-top: 10px;

            input[type='file'] {
              display: none;
            }
          }

          // act_upLoadPic
        }

        .act_upLoadInfo {
          // border: 1px solid #fff;
          font-size: 18.72px;
          color: #4b95a2;

          .act_actTitleSection {
            position: relative;

            > input[type='text'] {
              // display: inline-block;
              width: 350px;
              padding: 10px;
              border: none;
              outline: none;
              color: #fff;
              background: transparent;
              border-bottom: 1px solid #3a74b0;

              & + label {
                position: absolute;
                left: 0;
                width: 350px;
                padding: 10px;
                pointer-events: none;
                transition: 0.5s;
              }

              &:focus + label {
                transform: translate(-40px, -30px) scale(0.8);
              }

              &:valid + label {
                transform: translate(-40px, -30px) scale(0.8);
              }

              // inputTitle
            }
          }

          .act_MaxLimit {
            width: 100%;
            position: relative;
            margin-top: 50px;

            .act_MaxLimitSelection {
              width: 160px;
              border: none;
              outline: none;
              border-bottom: 1px solid #3a74b0;
              background: transparent;
              color: #4b95a2;

              &:focus + label {
                transform: translate(-20px, -30px) scale(0.8);
              }

              &:valid + label {
                transform: translate(-20px, -30px) scale(0.8);
              }

              option {
                text-align: center;
                background: #424b5848;
              }
            }

            label {
              position: absolute;
              left: 0;
              top: -10px;
              padding: 10px;
              pointer-events: none;
              transition: 0.5s;
            }

            // act_MaxLimit
          }

          .act_actContent {
            // border: 1px solid #fff;
            height: 300px;
            width: 100%;
            margin-top: 40px;
            position: relative;

            textarea {
              max-width: 350px;
              min-width: 350px;
              // height: 200px;
              background: transparent;
              line-height: 40px;
              color: #fff;
              border: none;
              outline: none;
              // border-bottom: 1px solid #fff;
              margin: 0;
              padding: 5px 10px 34px 10px;
              overflow: hidden;
              background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png);
              background-repeat: repeat-y, repeat;
              background-position: -100px 0px;
              word-wrap: break-word;
              resize: none;

              & + label {
                position: absolute;
                padding: 10px;
                width: 350px;
                left: 0px;
                top: -8px;
                pointer-events: none;
                transition: 0.5s;
              }

              &:focus + label {
                transform: translate(-40px, -30px) scale(0.8);
              }

              &:valid + label {
                transform: translate(-40px, -30px) scale(0.8);
              }
            }

            // act_actContent
          }

          input[type='submit'] {
            @include clickBtn();
            padding: 5px 10px;
            display: inline-block;
            margin-left: 66.5%;
          }

          // act_upLoadInfo
        }

        // act_establishActWrap
      }

      // act_establishActivity
    }

    @media screen and (max-width: 1460px) {
      .act_establishActWrap {
        justify-content: space-around;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: calc(65vh - 56px);

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 15px #978585;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 8px #b9b6e5;
        }
      }

      .act_upLoadInfo {
        margin-top: 50px;
      }
    }

    @media screen and (max-width: 768px) {
      .act_establishActivity {
        .act_establishActWrap {
          overflow-x: hidden;
          overflow-y: auto;
          height: calc(65vh - 30px);

          .act_upLoadInfo {
            .act_actTitleSection {
              > input[type='text'] {
                width: 330px;
              }
            }
          }

          .act_upLoadInfo {
            .act_actContent {
              textarea {
                max-width: 330px;
                min-width: 330px;
              }
            }
          }

          // act_establishActWrap
        }

        // act_establishActivity
      }
    }

    // 報名活動
    .act_signUpActivity {
      position: relative;
      display: none;
      user-select: none;

      .act_signUpTopBar {
        padding: 30px 40px;

        img {
          width: 45px;
          cursor: pointer;
        }
      }

      .act_signUpWrap {
        position: absolute;
        width: 100%;
        height: calc(80vh - 50px);
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        overflow-y: auto;
        height: calc(72vh);

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 15px #978585;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 8px #b9b6e5;
        }

        .act_signUpLeftPart {
          // border: 1px solid #fff;

          > div:nth-child(1) {
            font-size: 18.72px;
            color: #c4cfde;
          }

          .act_canvas {
            position: relative;

            #myCanvas {
              background-color: #e8e8e8;
              display: block;
            }

            #brushCanvas {
              display: none;
              position: absolute;
              width: 12px;
              height: 12px;
              border-radius: 50%;
            }

            .act_dragImg {
              position: absolute;
              // border: 1px solid #333;
              display: none;
              background-color: transparent;
            }
          }

          .act_signUpPic {
            // border: 1px solid #fff;
            margin-top: 5px;
            overflow: hidden;

            .act_uploadimgBtn {
              @include clickBtn();
              float: left;
              // width: 120px;
              padding: 5px 10px;

              input[type='file'] {
                display: none;
              }
            }

            > div:nth-child(2) {
              float: right;
              color: #c4cfde;
            }
          }
        }

        .act_signUpRightPart {
          // border: 1px solid #fff;
          font-size: 24px;
          color: #c4cfde;
          width: 45%;

          // 活動主題
          .act_signUpTitle {
            font-size: 24px;
          }

          // 活動日期
          .act_signUpDate {
            margin-top: 30px;
          }

          // 活動敘述
          .act_signUpContent {
            margin-top: 30px;

            span {
              font-size: 18.72px;
            }
          }

          // 選擇顏色
          .act_chosenColorTitle {
            margin-top: 30px;
          }

          .act_BrushColor {
            // border: 1px solid #fff;
            display: flex;
            justify-content: flex-start;

            .jscolor {
              width: 100px;
              font-size: 18.72px;
              border: none;
              text-align: center;
              outline: none;
            }

            .movePattern {
              @include clickBtn();
              padding: 5px 10px;
            }
          }

          // 選擇大小
          .act_chosenSizeTitle {
            margin-top: 30px;
          }

          .act_BrushSize {
            display: flex;
            height: 35px;
            align-items: flex-end;

            > .act_size {
              position: relative;
              cursor: pointer;
              border-radius: 50%;
              background-color: #fff;
              color: #000;
              margin: 0;
              margin-right: 15px;

              &:nth-child(1) {
                width: 12px;
                height: 12px;
              }

              &:nth-child(2) {
                width: 16px;
                height: 16px;
              }

              &:nth-child(3) {
                width: 20px;
                height: 20px;
              }

              .activeSpan {
                position: absolute;
                pointer-events: none;
                width: 50%;
                height: 50%;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #000;
              }
            }
          }

          .act_signUpClearBtn {
            // border: 1px solid #fff;
            width: 100%;
            overflow: hidden;

            span {
              @include clickBtn();
              float: right;
              padding: 4px 8px;
            }
          }

          .act_submitSignUp {
            // border: 1px solid #fff;
            margin-top: 60px;
            overflow: hidden;

            input[type='submit'] {
              @include clickBtn();
              float: right;
              margin-right: 20px;
              width: 150px;
              padding: 5px 10px;
            }
          }

          // act_signUpRightPart
        }

        // act_signUpWrap
      }

      // act_signUpActivity
    }

    @media screen and (max-width: 1400px) {
      .act_signUpWrap {
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 15px #978585;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 8px #b9b6e5;
        }

        .act_signUpRightPart {
          width: 100% !important;
          margin-top: 50px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .act_signUpLeftPart {
        .act_signUpPic {
          .upon768px {
            display: none;
          }
        }
      }

      .act_signUpRightPart {
        .act_chosenColorTitle {
          display: none;
        }

        .act_BrushColor {
          display: none !important;
        }

        .act_chosenSizeTitle {
          display: none;
        }
        .act_BrushSize {
          display: none;

          .act_size {
            display: none;
          }
        }
        .act_signUpClearBtn {
          display: none;
        }
      }
    }

    // act_ActivityContainer
  }

  // 留言板
  .act_messageBoardMask {
    width: 100%;
    height: 100vh;
    position: absolute;
    position: fixed;
    bottom: 0px;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: none;
  }
  .act_chattingBoard {
    --width: 729.6px;
    position: fixed;
    width: var(--width);
    height: 45vh;
    z-index: 200;
    left: calc((100% - var(--width)) / 2);
    bottom: 25px;
    background: #424b58c7;
    padding: 5px 10px;
    display: none;

    .act_commentCloseBtn {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 201;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 0px 10px #747070;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        border: 1.5px solid #868686;
        width: 34px;
        left: 8px;
        top: 7px;
        transform-origin: left;
        transform: rotate(45deg);
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        border: 1.5px solid #868686;
        width: 34px;
        left: 8px;
        bottom: 5px;
        border-radius: 2px;
        transform-origin: left;
        transform: rotate(-45deg);
        z-index: 2;
      }
    }

    .act_commentTitle {
      color: #c4cfde;
      font-size: 30px;
    }

    .act_commentSection {
      overflow-y: scroll;
      width: 100%;
      height: calc(100% - 100px);
      padding: 20px 0px;
      // border: 1px solid #fff;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 15px #978585;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 8px #b9b6e5;
      }

      .act_commentMessage {
        // border: 1px solid #fff;
        position: relative;
        display: flex;
        width: 340px;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 5px;
        font-size: 16px;

        &:not(:nth-child(1)) {
          margin-top: 40px;
        }

        .act_headImg {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0px 0px 2px #999;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .act_memberComment {
          position: relative;
          padding: 5px;
          border-radius: 10px;
          width: 260px;
          cursor: default;
          background: #fff;
          color: #000;
          word-wrap: break-word;

          &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-top: 3px solid transparent;
            border-bottom: 13px solid transparent;
            border-right: 15px solid #fff;
            left: -15px;
            top: 8px;
            z-index: -1;
          }
        }

        .act_reportTheComment {
          position: absolute;
          color: #ff0000be;
          right: 5px;
          bottom: -25px;
          cursor: pointer;
        }
      }

      // act_commentSection
    }

    .act_commentInput {
      // border: 1px solid #fff;
      position: absolute;
      bottom: 10px;
      right: 10px;

      > input[type='text'] {
        border: none;
        border-radius: 20px;
        outline: none;
        padding: 10px;
        padding-right: 50px;
        border: none;
        outline: none;
        // color: #fff;
        background: #fff;
        width: 200px;
        transition: width 0.5s;

        &:focus {
          width: 340px;
        }

        &:valid {
          width: 340px;
        }

        & + label {
          position: absolute;
          left: 0;
          top: 0px;
          padding: 10px;
          pointer-events: none;
          transition: 0.5s;
        }

        &:focus + label {
          opacity: 0;
        }

        &:valid + label {
          opacity: 0;
        }
      }

      button.act_submitComment {
        position: absolute;
        right: 0;
        width: 50px;
        height: 41px;
        border-radius: 40px;
        background: transparent;
        border: 0;
        outline: 0;
        text-align: center;
        cursor: pointer;

        i {
          font-size: 24px;
        }
      }
    }

    // act_chattingBoard
  }

  // act_container
}

// RWD
@media screen and (max-width: 1400px) {
  .act_container {
    overflow-x: hidden;
    background-size: cover;
    background-position: bottom;

    .act_wrap {
      // border: 1px solid #fff;

      > .act_middlePart {
        width: 80%;
        margin: 0 auto;

        .act_poseRefbelow1400px {
          display: block;
        }

        .act_actText {
          .act_moreActBtnbelow1400px {
            display: block;
            cursor: pointer;

            > img {
              cursor: pointer;
              filter: blur(1px);
            }
          }
        }
      }
    }

    .act_carousel_All {
      width: 100%;
    }

    .act_poseRef {
      display: none;
    }

    .act_otherAct {
      display: none;
    }
  }
}

@media screen and (max-width: 1300px) {
  .act_carousel {
    transform: translateY(0px);
  }

  .act_voteBtn {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1200px) {
  .act_carousel {
    transform: translateY(50px);
  }
}

@media screen and (max-width: 1100px) {
  .act_actText {
    transform: translateY(80px);
  }

  .act_carousel {
    transform: translateY(100px);
  }
}

@media screen and (max-width: 1000px) {
  .act_carousel {
    transform: translateY(150px);
  }
}

@media screen and (max-width: 950px) {
  .act_container {
    .act_wrap {
      > div:nth-child(2) {
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .act_carousel {
    transform: translateY(100px);
  }

  .act_actText {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .act_container {
    .act_wrap {
      > div:nth-child(2) {
        width: 100%;
      }

      .act_middlePart {
        width: 100%;

        .act_actText {
          text-align: center;
          padding: 0;

          .act_moreActBtnbelow1400px {
            display: none;
          }
        }

        .act_carousel_All {
          width: 850px !important;
          padding: 0 !important;
          height: 345px;
          height: 345px;

          .act_competitor {
            top: 10px !important;

            .outerSpan {
              display: none;
            }
          }

          .arrow {
            &:nth-child(1) {
              left: 17% !important;
              transform: translateY(-50%);
            }

            &:nth-child(2) {
              left: 60.5% !important;
              transform: translateY(-50%);
            }
          }
        }

        // act_middlePart
      }

      // act_wrap
    }

    .act_plusBtnbelow768px {
      display: block;
    }

    .act_chatBoardbelow768px {
      display: block;
    }

    .act_establishbelow768px {
      display: block;
    }

    .act_moreactivitybelow768px {
      display: block;
    }

    #act_ActivityContainer {
      width: 95%;
      left: 2.5%;

      .act_ActivityContainerTopBar {
        .switchBtn {
          display: none;
        }
      }

      .act_moreActivity {
        display: none;
      }

      .act_establishActWrap {
        height: calc(80vh - 56px);
      }

      // act_ActivityContainer
    }

    .act_chattingBoard {
      width: 95%;
      left: 2.5%;
      height: 85vh;
      z-index: 200;
      padding: 5px 0px;
    }

    // act_container
  }

  .act_carousel {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 414px) {
  .act_container {
    .act_wrap {
      .act_middlePart {
        .act_actText {
          > div:nth-child(1) {
            font-size: 24px;
            margin-top: 0;
          }
        }
      }
    }

    // act_container
  }
}

footer {
  position: fixed;
  bottom: 0px;

  .robotSection {
    //  border:2px solid pink;
    bottom: 0px;
    right: 5%;
    position: fixed;

    @media screen and (max-width: 949px) {
      display: none;
    }

    .robot {
      // border:1px solid red;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      right: 80px;

      img {
        width: 200px;
        display: block;
      }

      .robotTalk {
        .light {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2ed6a+0,7db9e8+100&1+0,0+100 */
          background: -moz-linear-gradient(
            top,
            rgba(242, 237, 106, 1) 0%,
            rgba(125, 185, 232, 0) 100%
          );
          /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(242, 237, 106, 1) 0%,
            rgba(125, 185, 232, 0) 100%
          );
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(
            to bottom,
            rgba(242, 237, 106, 1) 0%,
            rgba(125, 185, 232, 0) 100%
          );
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ed6a', endColorstr='#007db9e8', GradientType=0);
          // /* IE6-9 */
          width: 200px;
          display: block;
          border-radius: 50px 50px 0 0;
          padding: 15px 15px;
          top: 0px;
          position: relative;
          word-wrap: break-word;
        }

        #forRobotTalk {
          margin-top: 10px;
          // border:1px solid red;
          display: block;
          text-align: center;
        }
        .robotHead {
          // border:1px solid green;
          position: absolute;
          top: -80px;
          z-index: 1;
          left: 0px;
        }
      }
      .robotBody {
        position: relative;
      }
    }
  }
}
