#adiminbg {
  background-image: radial-gradient(circle, #07415b, #06425d, #04435e, #034360, #024462, #074b68, #0c516e, #125874, #206780, #2d768c, #3c8597, #4b95a2);
  margin: 0;
  width: 100%;
  height: 100vh;

  .borderLine {
    width: 500px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      content: " ";
      border: 2px double white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: -15px;
      animation: borderCilp 8s linear infinite;
    }

    &::after {
      animation-delay: -4s;
    }

    // clip: rect(top, right, bottom, left);
    //530px width , 2px border
    @keyframes borderCilp {
      0% {
        clip: rect(0px, 530px, 2px, 0px);
      }

      25% {
        clip: rect(0px, 2px, 530px, 0px);
      }

      50% {
        clip: rect(498px, 530px, 530px, 0px);
      }

      75% {
        clip: rect(0px, 530px, 530px, 498px);
      }

      100% {
        clip: rect(0px, 530px, 2px, 0px);
      }

    }

    #adminall {
      width: 500px;
      height: 500px;
      position: absolute;
      // top: 40%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      z-index: 20;
      text-align: center;
      padding: 10px;
      box-shadow: 11px 6px 30px -10px #242424;


      .loginlogo,
      .loginform {
        padding: 20px 0;
      }

      //logo
      .loginlogo {
        text-align: center;

        img {
          width: 40%;
          margin: 0 auto;
        }
      }

      //表單
      .loginform {
        .adminImg {
          display: inline-block;

          img {
            width: 40px;
          }
        }
      }
//輸入框
      #admin_Id,
      #admin_Psw {
        color: #ffffff;
        border-radius: 22.5px;
        border: 3px solid #ccc;
        background-color: transparent;
        box-sizing: border-box;
        height: 50px;
        padding: 0px 15px;
        width: 390px;
        margin: 10px;

        &:focus {
          outline: none;
          border-color: #dd7e77;
        }
      }

//後台登入鈕
      .adminbtn {
        font-size: 19px;
        background-color: white;
        border: 5px solid #f46f65;
        color: #7a5350;
        transition: 0.5s;
        margin: 0 auto 15px;
        width: 150px;
        height: 48px;

        margin: 50px auto 0;

        &:hover {
          background-color: #f46f65;
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
          box-sizing: border-box;
          color: white;
        }
      }
    }
  }

}
