.ggBody {
  background: url("../img/body/ggBodyBg2.png")bottom no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0;
  overflow: hidden;

  .imgZoonBorder {
    box-shadow: 1px 1px 3px 3px rgb(200, 200, 200);

  }

  .trainingMenu {
    width: 480px;
    // position: relative;
    // top: 50px;
    // left: 200px;
    margin-left: 10%;
    padding: 25px 10px 15px 0px;
    float: left;
    z-index: 79;
    position: relative;
    // border:2px solid red;


    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.425));

    @media screen and (max-width: 1800px) {
      margin-left: 5%;
    }

    @media screen and (max-width: 1370px) {
      margin-left: 3%;
    }

    @media screen and (max-width: 1200px) {
      margin-left: 2%;
      margin-top: 50px;
    }

    @media screen and (max-width: 970px) {
      width: 490px;
      margin: 50px auto 0;
      float: none;
      display: block;
      // border: 2px solid rgb(212, 3, 149);
      max-height: 600px;
      overflow-y: auto;
      padding: 0px;
    }

    @media screen and (max-width: 780px) {
      width: 100%;
      float: none;

      margin: 50px auto 0;
      // border: 2px solid rgb(0, 255, 85);
    }

    @media screen and (max-width: 375px) {
      padding: 30px 0 0;
      margin-top: 10px;
    }



    .title {
      padding: 25px 0px 35px 15px;
      background-color: #4B95A2;
      display: inline-block;
      width: 100%;

      @media screen and (max-width: 780px) {
        width: 470px;
        display: block;
        margin: 0 auto;
        // border: 2px solid yellow;
      }

      @media screen and (max-width: 500px) {
        width: 370px;
      }

      @media screen and (max-width: 375px) {
        width: 350px;
      }

      h2 {
        display: inline-block;
      }

      #level {
        display: inline-block;
        right: -110px;
        position: relative;

        @media screen and (max-width: 500px) {

          right: -40px;
        }

        @media screen and (max-width: 375px) {
          right: -14px;
        }
      }

      #defaultBar {
        border: 1px solid rgb(169, 169, 209);
        width: 350px;
        height: 20px;
        padding: 0px;
        margin: 0px;
        border-radius: 2px;

        @media screen and (max-width: 500px) {
          width: 342px;
        }

        @media screen and (max-width: 375px) {
          width: 315px;
        }

        #progressBar {
          width: 0px;
          height: 18px;
          background-color: rgb(236, 207, 79);
        }
      }
    }

    #trainingList {
      // height: 500px;
      // border: 2px solid pink;

      @media screen and (max-width: 780px) {
        width: 470px;
        display: block;
        margin: 0 auto;
        // border: 2px solid rgb(255, 0, 234);
      }

      @media screen and (max-width: 500px) {
        width: 370px;
      }

      @media screen and (max-width: 375px) {
        width: 350px;
        margin: 0 auto;
        // border: 2px solid blue;
        box-sizing: border-box;
        overflow-y: auto;
        max-height: 450px;
      }

      #length {
        max-height: 330px;
        overflow-y: auto;
        //  border:1px solid green;
        box-sizing: border-box;
        display: block;
        @media screen and (max-width: 414px)and (max-height:736px) {
          max-height: 300px;
        }
        @media screen and (max-width: 375px) and (max-height:667px) {
          max-height: 255px;
         }

        .row {
          padding: 10px 0px 15px 15px;
          background-color: rgb(241, 241, 225);
          width: 100%;
          margin-left: 0px;
          box-shadow: inset 0px -2px 2px rgba(190, 190, 190, 0.514);

          @media screen and (max-width: 780px) {
            background-color: rgba(241, 241, 225, 0.8);

          }

          @media screen and (max-width: 500px) {
            width: 370px;
          }

          @media screen and (max-width: 375px) {
            width: 350px;

            display: block;
            margin: 0 auto;
            padding: 5px 15px 5px 15px;
          }

          .imgZoon {
            box-shadow: inset 2px 2px 6px rgb(190, 190, 190);
            width: 80px;
            height: 80px;
            display: inline-block;


            @media screen and (max-width: 500px) {

              display: none;
            }
          }

          .rowRight {
            position: relative;
            display: inline-block;

            @media screen and (max-width:375px) {
              // border: 1px solid red;
              width: 100%;
            }

            select {
              margin: 10px 0px 20px 40px;
              display: block;

              @media screen and (max-width: 500px) {
                margin: 10px 0px;
              }
            }

            .count {
              display: inline-block;
              margin-left: 20px;


              .stateBtn {
                display: inline-block;
                height: 27px;

                .deleteBtn {
                
                  border:3px solid #f46f65;
                  color:#7a5350;
                  background-color: white;
                  padding: 3px 7px;
                  display: inline-block;
                  margin-left: 20px;
                
                  cursor: pointer;

                  &:hover {
                    // border: 5px solid white;
                    background-color:#f46f65;
                    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
                    box-sizing: border-box;
                    color:white;
                  }
                }

                .playVideoBtnn {
                  display: inline-block;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 13px 0 13px 26px;
                  border-color: transparent transparent transparent #ff361c;
                  // transform: rotate(-90deg);
                  position: relative;
                  bottom: 20px;
                  left: 10px;
                  cursor: pointer;
                  margin-left: 5px;


                }

                .nike {
                  display: inline-block;
                  width: 26px;
                  height: 26px;
                  border-radius: 50px;
                  background-color: rgb(255, 179, 0);

                }
              }

              @media screen and (max-width: 500px) {
                margin-left: 0px;
              }

              @media screen and (max-width: 375px) {
                margin-left: 8px;
              }

              input[type="number"] {
                width: 45px;
                margin: 0px 5px 0px 10px;
               

                @media screen and (max-width: 375px) {
                  margin: 0px 5px 0px 0px;
                }
              }
            }


          }

          .innerIframe {
            width: 100%;
            margin: -10px auto 0px;
            @media screen and (max-width: 414px) {
              margin: 10px 0px 10px -8px;
              width: 100%;
            }

            @media screen and (max-width: 375px) {
              margin: 10px auto 0px;
              width: 100%;
            }
          }
        }
      }


      #plus {
        padding: 5px 230px;
        background-color: rgb(241, 241, 225);
        display: inline-block;
        cursor: pointer;
        width: 100%;
        &:hover {
          // border: 5px solid white;
          background-color:#f46f65;
         
        }
        @media screen and (max-width: 500px) {
          padding: 5px 179px;
        }

        @media screen and (max-width: 375px) {
          padding: 5px 171px 5px 170px;
          margin: 0 auto;
        }
      }

      .redBtn {
        width: 100%;
        display: block;
        text-align: left;
        box-sizing: border-box;
        font-size: 0;
        background-color: rgb(255, 159, 49);
        // box-shadow: inset 0px 2px 6px rgb(190, 190, 190);
      
        // padding:10px 0;
        @media screen and (max-width: 375px) {
          width:372px;
        }


        #ggBodyStart,#ggBodySave {
          font-size: 19px;
          text-align: center;
          display: inline-block;
          background-color: white;
          border:5px solid #f46f65;
          // color:#7a5350;
          color:#7a5350;
          padding:5px;
          margin: 10px 40px;
          cursor: pointer;
         width:150px;
          box-sizing: border-box;
          transition: 0.5s;
          @media screen and (max-width: 414px) {
            // padding: 13px 54px;
            // width:40%;
            margin: 10px 17px;
          }
          @media screen and (max-width: 375px) {
            // padding: 13px 54px;
            // width:40%;
            margin: 10px 12px;
          }

         

          &:hover {
            background-color: #f46f65;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
            color: rgb(255, 255, 255);
          }
        }


      }

    }


  }

  .show {
    // border: 2px dotted red;
    height: 500px;
    float: left;
    position: relative;
    // display: inline-block;
    // border:1px solid white;
    // margin-top: 200px;

    @media screen and (max-width: 1280px) {
      margin-top: 0px;
    }

    @media screen and (max-width: 970px) {
      display: block;
      // border: 1px solid green;
      float: none;
      position: absolute;
      top: 180px;
    }

    @media screen and (max-width: 780px) {
      width: 100%;
    }
    @media screen and (max-width: 375px) and (max-height:667px) {
     bottom:0px;
     height:300px;
    }


    #showItem {
      // border: 1px solid green;
      display: inline-block;
      position: absolute;
      left: 200px;
      width: 675px;

      @media screen and (max-width: 1570px) {
        left: 100px;
        width: 600px;
      }

      @media screen and (max-width: 1360px) {
        left: -100px;
        width: 500px;
      }

      @media screen and (max-width: 1280px) {
        left: 30px;
        width: 500px;
      }

      @media screen and (max-width: 1180px) {
        left: -20px;
        width: 500px;
      }

      @media screen and (max-width: 1030px) {
        left: -60px;
      }

      @media screen and (max-width: 970px) {
        left: 400px;
      }

      @media screen and (max-width: 920px) {
        left: 350px;
      }

      @media screen and (max-width: 870px) {
        left: 300px;
      }

      @media screen and (max-width: 820px) {
        left: 250px;
      }

      @media screen and (max-width: 770px) {
        left: 200px;
      }

      @media screen and (max-width: 710px) {
        left: 150px;
      }

      @media screen and (max-width: 670px) {
        left: 100px;
      }

      @media screen and (max-width: 615px) {
        left: 50px;
      }

      @media screen and (max-width: 565px) {
        width: 90%;
        left: 0px;

      }

    }

    .people {
      display: inline-block;
      position: absolute;
      left: 80px;

      @media screen and (max-width: 1570px) {
        left: 25px;
      }

      @media screen and (max-width: 1400px) {
        left: 10px;
      }

      @media screen and (max-width: 1200px) {
        left: -20px;
        top: -24px;

      }


      #showGirl {
        position: absolute;

        @media screen and (max-width: 1360px) {
          width: 245px;
        }

        @media screen and (max-width: 780px) {
          width: 260px;
        }

        @media screen and (max-width: 375px) {
          display: none;
        }
      }

      #muscle {
        position: absolute;
        opacity: 1;
        animation: shine 1.2s infinite;

        @media screen and (max-width: 1360px) {
          width: 245px;
        }

        @media screen and (max-width: 780px) {
          width: 260px;
        }

        @media screen and (max-width: 375px) {
          display: none;
        }
      }

      @keyframes shine {
        0% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }

    }

    #body_info {
      border: 7px dotted gray;
      padding: 18px 45px 35px;
      background-color: rgba(230, 230, 230, 0.8);
      position: fixed;
      right: -700px;
      top: 30%;
      z-index: 10;

      @media screen and (max-width: 1700px) {
        padding: 10px 15px 20px;
      }

      @media screen and (max-width: 1400px) {
        padding: 0px 8px 15px;
        border: 5px dotted gray;
      }

      @media screen and (max-width: 949px) {
        display: none;
      }

      .bg {
        background-color: rgba(230, 230, 230, 0.8);
        padding: 15px 35px;
        border-radius: 15px;
        min-width: 300px;
        max-width: 450px;
        text-align: left;

        @media screen and (max-width: 1700px) {
          padding: 0px 20px;
        }

        @media screen and (max-width: 1400px) {
          max-width: 300px;
        }

        a {
          display: block;
          width: 100%;
          text-align: right;
        }
      }
    }

    .into {
      animation: into 1.5s;
      animation-fill-mode: forwards;
    }

    @keyframes into {
      0% {
        right: -700px;
      }

      100% {
        right: 3%;
      }
    }
  }

  .dark {
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 36, 36, 0.521);
    position: absolute;
    top: 0;
  }

  #webIframe {
    display: inline-block;
    margin-left: 94px;
    position: relative;
    z-index: 1000;
    margin-top: 23px;


    @media screen and (max-width: 1380px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 1280px) {
      margin-left: 10px;
      width: 550px;
      height: 350px;
      margin-top: 76px;
    }

    @media screen and (max-width: 1140px) {
      margin-left: 10px;
      width: 500px;
      height: 320px;
      margin-top: 76px;
    }

    @media screen and (max-width: 1080px) {
      margin-left: 10px;
      width: 450px;
      height: 300px;
      margin-top: 76px;
    }

    @media screen and (max-width: 1030px) {
      margin-left: 8px;
      width: 400px;
      height: 265px;
      margin-top: 76px;
    }
    @media screen and (max-width: 970px) {
      display: none;
    }
  }


}

.checkGreenn {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 3px solid #4B95A2;
  border-radius: 50px;
  position: relative;
  bottom: 20px;
  left: 18px;
  cursor: pointer;

  .success{
    font-size: 0.875rem;
    position: absolute;
    top:26px;
    left:-4px;
    width:35px;
    // border:1px solid red;
    box-sizing: border-box;
  }
}
.playVideoBtnn{
  .play{
    font-size: 0.875rem;
    position: absolute;
    top:15px;
    left:-26px;
    width:35px;
    // border:1px solid red;
    box-sizing: border-box;
  }
}

footer {
  position: fixed;
  bottom: 0px;

  .robotSection {
    //  border:2px solid pink;
    bottom: 0px;
    right: 5%;
    position: fixed;

    @media screen and (max-width: 949px) {
      display: none;
    }

    .robot {
      // border:1px solid red;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      right: 80px;

      img {
        width: 200px;
        display: block;
      }

      .robotTalk {
        .light {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2ed6a+0,7db9e8+100&1+0,0+100 */
          background: -moz-linear-gradient(top, rgba(242, 237, 106, 1) 0%, rgba(125, 185, 232, 0) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(242, 237, 106, 1) 0%, rgba(125, 185, 232, 0) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(242, 237, 106, 1) 0%, rgba(125, 185, 232, 0) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ed6a', endColorstr='#007db9e8', GradientType=0);
          // /* IE6-9 */
          width: 200px;
          display: block;
          border-radius: 50px 50px 0 0;
          padding: 15px 15px;
          top: 0px;
          position: relative;
          word-wrap: break-word;
        }


        #forRobotTalk {
          margin-top: 10px;
          // border:1px solid red;
          display: block;
          text-align: center;
        }

        .robotHead {
          // border:1px solid green;
          position: absolute;
          top: -80px;
          z-index: 1;
          left: 0px;
        }
      }

      .robotBody {
        position: relative;
      }
    }
  }


}