.hp_know {
  background: url("../img/index/hp_know1920.png")bottom no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  border: 1px solid transparent;
  overflow: hidden;

}

.hp_know_all {
  transform: translateY(120px);
}

.hp_knowpad_yt {
  position: absolute;
  top: 11%;
  left: 12%;
}

.hp_know_text {
  color: #F2F5FE;
  background: -webkit-linear-gradient(transparent, transparent), url('../img/index/hp_know_maru.jpg') repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: background 30s infinite linear;

  @keyframes background {
    from {
      background-position: 0 0%;
    }

    to {
      background-position: 0 -500px;
    }
  }
}



@media screen and (max-width: 1680px) {
  .hp_know_all {
    transform: translateY(180px);
  }

  .hp_knowpad_yt {
    top: 15%;
    left: 17%;
  }

}

@media screen and (min-width: 1441px) {
  .hp_knowpad_yt1440 {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .hp_knowpad_yt {
    display: none;
  }

  .hp_knowpad {
    width: 1000px;
  }

  .hp_knowpad_yt1440 {
    position: absolute;
    top: 5%;
    left: 11%;
  }
}

@media screen and (max-width: 768px) {
  // .hp_know_all {
  //   transform: translateY(100px);
  // }

  // .hp_knowpad {
  //   transform: translateY(40px);
  // }

  .hp_knowpad_yt1440 {
    top: 12%;
    left: 28%;
  }

  .hp_know_alltext {
    transform: translateY(15px);
  }
}

@media screen and (max-width: 414px) {
  .hp_know_all {
    transform: translateY(70px);
    // font-size: 1.3rem;
  }

  .hp_knowpad_yt1440 {
    top: 10%;
  }

  // .hp_know_alltext {
  //   transform: translateY(10px);
  // }

}