.indexGgBody {
  background: url("../img/body/ggBodyBg2.png")bottom no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0px;
  // padding-top: 1rem;
  overflow: hidden;
  position: relative;
  
  .tdeecenter{
    position:absolute;
    // border:1px solid green;
    display:block;
    height:5px;
    width:700px;
    top:120px;
    left:50%;
    z-index: 2225;

    .animation_02{
      width: 130px;
      // border: 2px solid yellow;
      position: absolute;
      transform: rotate(-35deg);
      display: none;
      top: 30px;
      left: 0px;
      z-index: 2224;
      filter: drop-shadow(4px 4px 4px rgba(87, 87, 87, 0.65));

    }
    #robot_talk2 {
    position: absolute;
    top:40vh;
     left:-20%;
    white-space:nowrap;
    display: inline-block;
    padding: 7px 15px 5px;
    background-color: lemonchiffon;
    box-shadow: 4px 4px 6px 4px rgba(85, 85, 85, 0.7);
    z-index: 2255;

    // @media screen and (max-width: 949px) {
    //   left: 20px;
    //   top: -30px;
    // }

    @media screen and (max-width: 414px) {
      top:35vh;
      left:-20%;
    }

    @media screen and (max-width: 375px) {
     top:35vh;
     left:-23%;
    }
    }
  }
 

  #index_TEDD_dark {
    // display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    z-index: 2224;
    overflow: hidden;

    // transform: translateY(-2000px);
  }

  .indexBody_TDEE {
    // display: none;
    // border: 2px solid red;
    width: 800px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2223;
    margin: -70px auto;

    // .close {
    //   // border: 1px solid red;
    //   position: absolute;
    //   right: 140px;
    //   top: 8px;
    //   z-index: 800;

    //   @media screen and (max-width: 730px) {
    //     right: 180px;

    //   }

    //   @media screen and (max-width: 620px) {
    //     right: 220px;

    //   }
    // }



    .modal-content {
      // border: 2px solid green;
      background-image: url(./../img/Weight_tdee.png);
      background-position: top center;
      background-size: cover;
      width: 800px;
      height: 100vh;
      margin: 0 auto -50px;
      text-align: center;
      font-size: 1rem;
      color: #c4cfde;

      .modal-body {
        #index_TDEE_form {
          // border: 1px solid pink;
          margin-top: 10%;

          @media screen and (max-height: 800px) {
            margin-top: 50px;
          }

          @media screen and (max-width: 949px) {
            margin-top: 100px;
          }

          @media screen and (max-width: 414px)and (max-height:736px) {
            margin-top: 30px;
            margin-bottom: 20px;
          }

          @media screen and (max-width: 375px) {
            margin-top: 20px;
            margin-bottom: 40px;
          }

          // @media screen and (max-width: 375px) and (max-height:812px) {
          //   margin-top: 60px;
          //   margin-bottom: 20px;
          // }

          // @media screen and (max-width: 375px) and (max-height:667px) {
          //   margin-top: 12px;
          //   margin-bottom: 5px;
          // }

          label {
            margin: 0 0 20px;

            @media screen and (max-width: 375px) and (max-height:667px) {
              margin: 0 0 8px;
            }

            @media screen and (max-width: 414px)and (max-height:736px) {
              margin: 0 0 8px;
            }

            @media screen and (max-width: 375px) and (max-height:812px) {
              margin: 0 0 8px;
            }
          }

          #sex {
            margin-right: 100px;
            @media screen and (max-width: 414px)  {
              margin-right: 102px;
            }
            @media screen and (max-width: 375px)  {
              margin-right: 103px;
            }
          }

          #weight {
            margin-right: -6px;
            @media screen and (max-width: 375px)  {
              margin-right: -4px;
            }
          }

          #age {
            margin-right: -39px;
            @media screen and (max-width: 414px)  {
              margin-right: -41px;
            }
          }

          #activitylevel {
            margin-right: 70px;
          }
        }

        #Result_BMR {

          // border:1px solid red;
          margin-top: 30px !important;


        }
      }
    }
  }


  .centerInfo {
    // border: 2px solid pink;
    box-sizing: border-box;
    width: 1300px;
    margin: 0 auto;
    margin-top: 130px;
    position: relative;


    @media screen and (max-width: 1360px) {
      width: 1100px;
      margin-top: 140px;
    }

    @media screen and (max-width: 1100px) {
      width: 949px;
      margin-top: 140px;
    }

    @media screen and (max-width: 949px) {
      width: 500px;
    }

    @media screen and (max-width: 414px) {
      width: 100%;
      margin-top: 150px;
      margin-left: -40px;
      position: absolute;
    }

    @media screen and (max-width: 375px) {
      margin-left: 0px;
    }

    .animation_01 {
      width: 130px;
      // border: 2px solid yellow;
      position: absolute;
      transform: rotate(-35deg);
      top: 30px;
      left: 250px;
      z-index: 11;
      filter: drop-shadow(4px 4px 4px rgba(87, 87, 87, 0.65));

      @media screen and (max-width: 949px) {
        left: 235px;
        top: 50px;
      }

      @media screen and (max-width: 414px)and (max-height:736px) {
        left: 270px;
        top: 30px;
      }

      @media screen and (max-width: 375px) {
        left: 200px;
        top: 30px;
      }
    }

    #robot_talk {
      position: absolute;
      top: 90px;
      left: 350px;
      display: inline-block;
      padding: 7px 15px 5px;
      background-color: lemonchiffon;
      box-shadow: 4px 4px 6px 4px rgba(85, 85, 85, 0.7);
      z-index: 11;

      @media screen and (max-width: 949px) {
        left: 20px;
        top: -30px;
      }

      @media screen and (max-width: 414px) {
        left: 80px;
        top: -30px;
      }

      @media screen and (max-width: 375px) {
        left: 20px;
        top: -30px;
      }
    }


    .trainingMenu {
      width: 480px;

      z-index: 10;
      position: absolute;
      // border: 3px solid green;
      margin-left: 20px;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.425));

      @media screen and (max-width: 949px) {
        width: 490px;
        margin: 0px auto;
        float: none;
        display: block;
        max-height: 600px;
        overflow-y: auto;
        padding: 0px;
        position: absolute;
      }

      @media screen and (max-width: 375px) {
        width: 360px;
      }

      .title {
        padding: 25px 0px 35px 15px;
        background-color: #4B95A2;
        display: inline-block;
        width: 100%;
        top: 0px;
        position: relative;

        @media screen and (max-width: 780px) {
          width: 470px;
          display: block;
          margin: 0 auto;
          // border: 2px solid yellow;
        }

        @media screen and (max-width: 500px) {
          width: 370px;
        }

        @media screen and (max-width: 375px) {
          width: 350px;
          margin: 0px 8px;
        }

        h2 {
          display: inline-block;
        }

        #level {
          display: inline-block;
          right: -110px;
          position: relative;

          @media screen and (max-width: 500px) {

            right: -40px;
          }

          @media screen and (max-width: 375px) {
            right: -14px;
          }
        }

        #defaultBar {
          border: 1px solid rgb(169, 169, 209);
          width: 350px;
          height: 20px;
          padding: 0px;
          margin: 0px;
          border-radius: 2px;

          @media screen and (max-width: 500px) {
            width: 342px;
          }

          @media screen and (max-width: 375px) {
            width: 315px;
          }

          #progressBar {
            width: 0px;
            height: 18px;
            background-color: rgb(236, 207, 79);
          }
        }
      }

      #trainingList {
        top: 0px;
        position: relative;
        // height: 500px;
        // border: 2px solid rgb(44, 243, 37);

        // overflow-y: scroll;
        // overflow-x: hidden;
        @media screen and (max-width: 780px) {
          width: 470px;
          display: block;
          margin: 0 auto;
          // border: 2px solid rgb(255, 0, 234);
        }

        @media screen and (max-width: 500px) {
          width: 370px;
        }

        @media screen and (max-width: 375px) {
          width: 350px;
          margin: 0 8px;
          // border: 2px solid blue;
          box-sizing: border-box;
          overflow-y: auto;
          max-height: 450px;
        }

        .trainingListRow {
          // border: 1px solid rgb(211, 1, 211);
          padding: 10px 0px 15px 15px;
          background-color: rgb(241, 241, 225);
          width: 100%;
          margin-left: 0px;
          border-bottom: 1px solid gray;

          @media screen and (max-width: 949px) {
            background-color: rgba(241, 241, 225, 0.8);

          }

          @media screen and (max-width: 375px) {
            width: 350px;

            display: block;
            margin: 0 auto;
            padding: 5px 15px 5px 15px;
          }

          .imgZoon {
            box-shadow: inset 2px 2px 6px rgb(190, 190, 190);
            width: 80px;
            height: 80px;
            display: inline-block;
            vertical-align: top;

            @media screen and (max-width: 500px) {

              display: none;
            }
          }

          .rowRight {
            position: relative;
            display: inline-block;

            @media screen and (max-width:375px) {
              // border: 1px solid red;
              width: 100%;
            }

            select {
              margin: 10px 0px 20px 40px;
              display: block;

              @media screen and (max-width: 500px) {
                margin: 10px 0px;
              }
            }

            .count {
              display: inline-block;
              margin-left: 20px;


              .stateBtn {
                display: inline-block;
                height: 27px;

                .deleteBtn {
                
                  border:3px solid #f46f65;
                  color:#7a5350;
                  background-color: white;
                  padding: 3px 7px;
                  display: inline-block;
                  margin-left: 20px;
                
                  cursor: pointer;

                  &:hover {
                    // border: 5px solid white;
                    background-color:#f46f65;
                    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
                    box-sizing: border-box;
                    color:white;
                  }
                }

                .playVideoBtnn {
                  display: inline-block;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 13px 0 13px 26px;
                  border-color: transparent transparent transparent #ff361c;
                  // transform: rotate(-90deg);
                  position: relative;
                  bottom: 20px;
                  left: 5px;
                  cursor: pointer;
                  margin-left: 18px;


                }

                .nike {
                  display: inline-block;
                  width: 26px;
                  height: 26px;
                  border-radius: 50px;
                  background-color: rgb(255, 179, 0);

                }
              }

              @media screen and (max-width: 500px) {
                margin-left: 20px;
              }

              @media screen and (max-width: 375px) {
                margin-left: 20px;
              }

              input[type="number"] {
                width: 45px;
                margin: 0px 5px 0px 10px;
               

                @media screen and (max-width: 375px) {
                  margin: 0px 5px 0px 0px;
                }
              }
            }

          }
        }

        #plus {
          padding: 5px 230px;
          background-color: rgb(241, 241, 225);
          display: inline-block;
          cursor: pointer;
          width: 100%;
          &:hover {
            // border: 5px solid white;
            background-color:#f46f65;
           
          }
          @media screen and (max-width: 500px) {
            padding: 5px 179px;
          }
  
          @media screen and (max-width: 375px) {
            padding: 5px 171px 5px 170px;
            margin: 0 auto;
          }
        }
  
        .redBtn {
          width: 100%;
          display: block;
          text-align: left;
          box-sizing: border-box;
          font-size: 0;
          background-color: rgb(255, 159, 49);
          // box-shadow: inset 0px 2px 6px rgb(190, 190, 190);
        
          // padding:10px 0;
          @media screen and (max-width: 375px) {
            width:372px;
          }
  
          #ggBodyStart,#ggBodySave {
            font-size: 19px;
            text-align: center;
            display: inline-block;
            background-color: white;
            border:5px solid #f46f65;
            // color:#7a5350;
            color:#7a5350;
            padding:5px;
            margin: 10px 40px;
            cursor: pointer;
           width:150px;
            box-sizing: border-box;
            transition: 0.5s;
            @media screen and (max-width: 414px) {
              // padding: 13px 54px;
              // width:40%;
              margin: 10px 17px;
            }
            @media screen and (max-width: 375px) {
              // padding: 13px 54px;
              // width:40%;
              margin: 10px 12px;
            }
  
           
  
            &:hover {
              background-color: #f46f65;
              box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
              color: rgb(255, 255, 255);
            }
          }
  
  
        }

      }
    }

    .show {
      // border: 2px dotted rgb(253, 253, 253);
      height: 500px;
      position: absolute;
      // border: 2px solid green;
      margin-left: 450px;

      @media screen and (max-width: 1360px) {
        margin-left: 550px;
      }

      @media screen and (max-width: 949px) {
        margin-left: 85px;
      }

      #showItem {
        // border: 1px solid green;
        display: inline-block;
        position: absolute;
        left: 200px;
        width: 675px;

        @media screen and (max-width: 1360px) {
          left: -100px;
          width: 500px;
        }

        @media screen and (max-width: 949px) {
          top: 0px;
          left: 0px;
        }

        @media screen and (max-width: 900px) {

          left: 100px;
        }

        @media screen and (max-width: 800px) {

          left: 0px;
        }

        @media screen and (max-width: 700px) {
          width: 500px;

          left: 100px;
        }

        @media screen and (max-width: 630px) {
          left: 0px;
        }
        @media screen and (max-width: 414px) {
          left: -100px;
        }

        @media screen and (max-width: 375px) {
          left: -130px;
        }

      }

      .people {
        display: inline-block;
        position: absolute;
        left: 80px;

        @media screen and (max-width: 1130px) {
          left: -50px;
          width: 500px;
        }

        #showGirl {
          position: absolute;

          @media screen and (max-width: 1360px) {

            width: 245px;
          }

          @media screen and (max-width: 949px) {
            top: 0px;
            left: -200px;
          }

          @media screen and (max-width: 414px) {
            display: none;
          }
        }

        #muscle {
          position: absolute;
          opacity: 1;
          animation: shine 1.2s infinite;

          @media screen and (max-width: 1360px) {

            width: 245px;
          }

          @media screen and (max-width: 949px) {
            display: none;
          }
        }

        @keyframes shine {
          0% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }
      }

      #body_info {
        border: 7px dotted gray;
        padding: 8px 14px 15px;
        background-color: rgba(230, 230, 230, 0.8);
        position: absolute;
        right: -1500px;
        top: 30%;


        @media screen and (max-width: 1360px) {
          padding: 5px 7px 10px;
        }

        @media screen and (max-width: 949px) {
          display: none;
        }

        .bg {
          background-color: rgba(230, 230, 230, 0.8);
          padding: 8px 10px;
          border-radius: 15px;
          min-width: 300px;
          max-width: 320px;


          @media screen and (max-width: 1360px) {
            max-width: 300px;
          }

          @media screen and (max-width: 1050px) {
            max-width: 250px;
          }

          a {
            display: block;
            width: 100%;
            text-align: right;
          }
        }
      }
    }
  }





  .imgZoonBorder {
    box-shadow: 1px 1px 3px 3px rgb(200, 200, 200);


  }


  .into1920 {
    animation: into1920 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes into1920 {
    0% {
      right: -1500px;
    }

    100% {
      right: -800px;
    }

  }

  .into1360 {
    animation: into1360 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes into1360 {
    0% {
      right: -1500px;
    }

    100% {
      right: -600px;
    }
  }

  .into1100 {
    animation: into1100 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes into1100 {
    0% {
      right: -1500px;
    }

    100% {
      right: -420px;
    }
  }
}