$transition-time: 250ms;
$transition-method: ease-in-out;

$card-height: 440px;
$card-width: 840px;
$card-hover-offset-x: 40px;
$card-hover-offset-y: 60px;

// html {
//     box-sizing: border-box;
// }
ul,
li {
    list-style: none;
}


%clearfix {

    &:after {
        clear: both;
        content: '';
        display: table;
    }



}

// %clearfix

.card-movie-wrapper {
    height: $card-height;
    position: relative;
    width: $card-width;
    margin-top: 6.5%;
    transform: translateY(300px);

    &:hover {

        .card-movie-carousel {
            -webkit-transition: all $transition-time $transition-method;
            -moz-transition: all $transition-time $transition-method;
            transition: all $transition-time $transition-method;
            bottom: $card-hover-offset-y;
            right: $card-hover-offset-x;
        }

        // .card-movie-carousel

    }

    // &:hover

}

// .card-movie-wrapper

.card-movie-wrapper--centered {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
}

// .card-movie-wrapper--centered

.card-movie-carousel {
    -webkit-transition: all $transition-time $transition-method 250ms;
    -moz-transition: all $transition-time $transition-method 250ms;
    transition: all $transition-time $transition-method 250ms;
    height: $card-height;
    width: $card-width;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.card-movie-navigation {
    background-color: $gray-300;
    opacity: 2;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 15;

    &__list {
        $item-size: 12px;
        $item-size-active: $item-size * 1.5;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        right: ($card-hover-offset-x - $item-size) / 2;
        top: 50%;
        width: $item-size-active;

        li {
            -webkit-transition: all $transition-time $transition-method;
            -moz-transition: all $transition-time $transition-method;
            transition: all $transition-time $transition-method;
            background-color: #f46f65;
            border-radius: 100%;
            cursor: pointer;
            height: $item-size;
            margin: 0 auto $item-size/2;
            width: $item-size;

            &:last-child {
                margin-bottom: 0;
            }

            // &:last-child

            &.is-active {
                height: $item-size-active;
                width: $item-size-active;
            }

            // &.is-active

            &:hover {
                background-color: #c4cfde;
            }

            // &:hover

        }

        // li

    }

    // &__list

    button {
        $arrow-size: 6px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: none;
        bottom: 0;
        color: #f46f65;
        cursor: pointer;
        font-size: $h3-font-size;
        font-weight: bolder;
        line-height: $card-hover-offset-y;
        margin: 0;
        outline: none;
        padding: 0;
        position: absolute;
        right: $card-hover-offset-x;

        &:before {
            content: '觀看影片';
        }

        // &:before 

        &:after {
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            border-bottom: $arrow-size solid transparent;
            border-left: $arrow-size solid #f46f65;
            border-top: $arrow-size solid transparent;
            content: '';
            height: 0;
            margin-right: $arrow-size;
            position: absolute;
            right: 100%;
            top: 50%;
            width: 0;
        }

        // &:after 

        &.is-playing {

            &:before {
                content: '關閉影片';
            }

            // &:before 

            &:after {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
                margin-top: -$arrow-size;
            }

            // &:after 

        }

        // &.is-playing 

    }

    // button

}

// .card-movie-navigation

.card-movie {
    -webkit-transition: all ($transition-time * 2) $transition-method;
    -moz-transition: all ($transition-time * 2) $transition-method;
    transition: all ($transition-time * 2) $transition-method;
    background-size: cover;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    opacity: 0;
    width: 100%;
    z-index: 20;

    &__content {
        left: 330px;
        position: absolute;
        top: 150px;
    }


    &__details {
        @extend %clearfix;
        margin-bottom: 30px;
        margin-top: 15px;

        &-item {
            display: block;
            float: left;
            margin-right: 20px;
        }

        // &-item

        &-list {
            @extend %clearfix;

            li {
                float: left;
                margin-right: 5px;
                padding-right: 6px;
                position: relative;

                &:after {
                    content: '|';
                    position: absolute;
                    right: 0;
                }

                // &:after

                &:last-child {
                    margin-right: 0;

                    &:after {
                        display: none;
                    }

                    // &:after

                }

                // &:last-child

            }

            // li

        }

        // &-list

    }

    // &__details

    &__description {
        font-size: 14px;
        max-width: 390px;
    }


    &__player {
        -webkit-transition: all ($transition-time * 2) $transition-method;
        -moz-transition: all ($transition-time * 2) $transition-method;
        transition: all ($transition-time * 2) $transition-method;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 0;
        z-index: 20;

        .card-movie--playing & {
            height: $card-height;
            width: $card-width;
        }

        // .card-movie--playing &

        iframe {
            height: 100%;
            width: 100%;
        }

        // iframe

    }

    // &__player

}

// .card-movie 

.card-movie--active {
    opacity: 1;
    z-index: 25;
}

.card-movie--one {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_01.jpg');
}

// .card-movie--one

.card-movie--two {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_02.jpg');
    width: 100%;
}

// .card-movie--two

.card-movie--three {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_03.jpg');
    width: 100%;
}

// .card-movie--three

.card-movie--four {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_04.jpg');
    width: 100%;
}

// .card-movie--four



.card-movie--five {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_05.jpg');
    width: 100%;
}

// .card-movie--five

.card-movie--six {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_06.jpg');
    width: 100%;
}

// .card-movie--six
.card-movie--seven {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_07.jpg');
    width: 100%;
}

// .card-movie--seven
.card-movie--eight {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_08.jpg');
    width: 100%;
}

// .card-movie--eight
.card-movie--nine {
    background-image: url('../img/knowledge/kw_yt_api/yt_api_09.jpg');
    width: 100%;
}

// .card-movie--nine
