.loginall {
  background-image: url("../img/mem/login.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  .mem_background {
    margin: 0 auto;
    background-color: #4b95a2;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -4px #242424;
    background-size: cover;
    width: 960px;
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and (max-width:1105px) {
      margin-top: 50px;
      width: 95%;
    }

    @media screen and (max-width:992px) {
      margin-top: 50px;
      width: 80%;
    }

    @media screen and (max-width:767px) {
      border: 1px solid yellow;
      display: block;
      height: 595px;
      overflow: hidden;
    }

    @media screen and (max-width:414px) {
      height: 575px;
      margin-top: 8px;
    }

    @media screen and (max-width:375px) {
      height: 530px;
    }
  }


  #Login,
  #Signup {
    width: 100%;

    .mem_Login_title {
      margin-top: 20px;
      text-align: center;
      color: #353c49;

      @media screen and (max-width:375px) {
        margin-top: 10px;
      }
    }

    img.memimg {
      width: 100px;
      display: block;
      margin: 0 auto;

      @media screen and (max-width:414px) {
        width: 85px;
      }

    }


    .mem_label {
      font-size: 16px;
      margin: auto;
      width: 90%;
      padding-bottom: 0.5rem;

      @media screen and (max-width:414px) {
        font-size: 14px;
      }
    }



    input {
      width: 90%;
      height: 50px;
      padding: 0px 15px;
      margin: 0px auto 15px;
      background-color: rgba(238, 238, 238, 0.842);
      border: 0;

      @media screen and (max-width:992px) {
        height: 35px;
      }


      &:focus {
        outline: #dc6247;
        box-shadow: 0 0 0 4px #dc6247
      }
    }



    .mem_label,
    input {
      display: block;
      position: relative;
    }

    .btn_sub {
      font-size: 19px;
      background-color: white;
      border: 5px solid #f46f65;
      color: #7a5350;
      transition: 0.5s;
      margin: 0 auto 15px;
      width: 150px;

      @media screen and (max-width: 992px) {
        height: 48px;
      }


      @media screen and (max-width: 500px) {
        width: 50%;
      }

      &:hover {

        background-color: #f46f65;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
        box-sizing: border-box;
        color: white;
      }
    }

    .psw_P {
      width: 100%;

      @media screen and (max-width:767px) {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
      }

      // 立即註冊
      .textP {
        display: none;

        @media screen and (max-width:767px) {
          width: 50%;
          padding: 10px 0 20px 0;
          display: block;
          cursor: pointer;
          text-align: center;
          margin: 0 auto;

          &:hover {
            color: ivory;
          }
        }
      }

      //立即登入
      .text_L {
        display: none;

        @media screen and (max-width:767px) {
          width: 100%;
          padding: 10px 0 20px 0;
          display: block;
          cursor: pointer;
          text-align: center;
          margin: 0 auto;

          &:hover {
            color: ivory;
          }
        }

        @media screen and (max-width:375px) {
          padding: 0px 0px 5px 0;
        }
      }
    }

    // 忘記密碼 、必填欄位
    .mem_passw,
    .mem_col {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 10px 0 20px 0;
      cursor: pointer;
    }

    @media screen and (max-width:767px) {
      .mem_passw {
        width: 50%;

        &:hover {
          color: ivory;
        }
      }
    }
  }

  @media screen and (max-width:767px) {

    div#Login {
      width: 100%;
      display: inline-block;
    }

    div#Signup {
      position: absolute;
      width: 100%;
      display: inline-block;
      background: #4b95a2;
    }
  }

  // 翻書陰影
  #Login {
    &.loginshadow {
      box-shadow: inset -48px 0px 80px -48px rgba(31, 28, 28, 0);
      animation: loginshadow 2s ease-in;



      @keyframes loginshadow {
        10% {
          box-shadow: inset -48px 0px 80px -48px rgba(110, 109, 109, 0.5);
        }

        100% {
          box-shadow: inset -48px 0px 80px -48px rgba(110, 109, 109, 1);
        }

      }
    }
  }

  #Signup {
    &.Signupshadow {

      box-shadow: inset 50px 0px 84px -38px rgba(61, 60, 60, 0);
      animation: Signupshadow 2s ease-in-out;

      @keyframes Signupshadow {

        10% {
          box-shadow: inset 50px 0px 84px -38px rgba(110, 109, 109, 0.5);
        }

        100% {
          box-shadow: inset 50px 0px 84px -38px rgba(110, 109, 109, 1);
        }

      }
    }


  }

  .mem_Ad {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 10px 10px 0;
    width: 50%;
    height: 100%;
    background-color: rgb(248, 193, 45);
    text-align: center;
    transform-style: preserve-3d;
    transform-origin: left center;
    transition: transform 2s ease-in-out;

    &.turn {
      transition: transform 2s ease-in;
      transform: rotateY(-180deg);
    }

    @media screen and (max-width:767px) {
      display: none;
    }

    .mem_Ad_title {
      text-align: center;
      padding: 5px;
      margin: 20% auto;
    }

    #mem_Ad_content,
    #mem_Ad_content2 {
      background-color: rgb(248, 193, 45);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;

      .mem_Ad_text {
        margin: 15% auto;
        font-size: 20px;
        padding: 10px;
        width: 80%;
      }
    }

    #mem_Ad_content {
      border-radius: inherit;

    }

    #mem_Ad_content2 {
      transform: rotateY(180deg);
      border-radius: 10px 0px 0px 10px;
    }

    .btn_go {
      width: 140px;
      height: 60px;
      margin: 0 auto;
      text-align: center;
      padding-top: 10px;
      color: #4b95a2;
      cursor: pointer;
      font-size: 20px;


      &:hover {
        box-shadow: 2px 2px 6px 2px rgba(139, 135, 137, 0.527);
        border: 4px solid #dc6247;
      }
    }
  }

  label.error {
    margin-bottom: 0;
  }


  .passwordeye {
    position: absolute;
    right: 35px;
    bottom: 92px;
    cursor: pointer;

    @media screen and (max-width:992px) {
     
      right: 26px;
      bottom:83px;

    }

    @media screen and (max-width:767px) {
      right: 46px;
      bottom: 134px;
    }

    @media screen and (max-width:414px) {
      right: 25px;
      bottom: 134px;
    }

    @media screen and (max-width:375px) {
      right: 19px;
      bottom: 108px;
    }
  }
}
