.we_fullpage {
    background-image: linear-gradient(to bottom, #39414f, #333c4c, #2d3749, #283245, #222d42, #1e283c, #1a2436, #161f30, #131a27, #10151e, #0a0e15, #030509);
    overflow: hidden;
    overflow-y: hidden;

    .row {
        height: 100vh;
    }
}

#we_logoSVG {
    position: absolute;
    width: 100%;
    height: 140vh;
    // z-index: 1;
}


.we_cls1 {
    stroke: #f46f65;
    stroke-width: 12px;
    opacity: 0.53;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 0;
    stroke-dasharray: 3120;
    fill-opacity: 0;
    animation: draw1 4s cubic-bezier(.11, .25, .23, .22);

    @keyframes draw1 {

        0% {
            stroke-dashoffset: 3120;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }
}



.we_cls-2 {
    stroke: #c4cfde;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 0;
    stroke-dasharray: 3120;
    fill-opacity: 0;
    animation: draw2 4s cubic-bezier(.11, .25, .23, .22);

    @keyframes draw2 {
        0% {
            stroke-dashoffset: 3120;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

}


#we_shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    animation: aa 4s;
    // animation-delay: 500ms;

    @keyframes aa {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}



#we_shadow {
    // text-shadow: 0 0 20px rgb(161, 159, 159), 0 0 30px #fff, 0 0 40px rgb(99, 106, 114), 0 0 60px #c4cfde, 0 0 70px #228DFF, 0 0 100px #c4cfde, 0 0 150px #228DFF;
    text-shadow: 0 0 20px rgb(161, 159, 159), 0 0 30px #fff, 0 0 40px #f46f65, 0 0 60px #c4cfde, 0 0 70px #f46f65, 0 0 100px #c4cfde, 0 0 150px #f46f65;

    #we_glow {
        animation: neon1 linear infinite 3s;
        will-change: opacity;
    }

    #we_blink {
        animation: blink linear infinite 2s;
    }

}

@keyframes neon1 {
    20% {
        opacity: 1;
    }

    80% {
        opacity: 0.6;
    }
}

@keyframes blink {
    70% {
        opacity: 1;
    }

    79% {
        opacity: 0.5;
    }

    81% {
        opacity: 1;
    }

    82% {
        opacity: 0.5;
    }

    83% {
        opacity: 1;
    }

    92% {
        opacity: 0.5;
    }

    // 92.5% {
    //     opacity: 1;
    // }
}

// @media screen and (max-width:991px) {
//     .we_logo {
//         img {
//             width: 130px;
//         }
//     }
// }